* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Monospace;
  font-size: 12px;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
}
#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
}*/

#stats { bottom: 0px; right: 0px; }
.bar-tab { right: 33% !important; left: 33% !important; }
.logo {position: absolute; top: 5px; left: 5px; }
.errorMessage { text-align: center; width: 200px; margin: 20px auto; }

#toolbar {
  border-radius: 3px;
  background: #eee;
  padding: 5px;
  width: 114px;
  left: 50%;
  margin-left: -57px;
  position: absolute;
  bottom: 0;
}

.block.selected{
  border: solid 2px #ADADAD;
  opacity: 1;
}

.block {
  display: inline-block;
  opacity: 0.5;
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.block[material="grass"] {
  background: url('/textures/grass.png');
}

.block[material="brick"] {
  background: url('/textures/brick.png');
}

.block[material="crate"] {
  background: url('/textures/crate.png');
}

.block[material="diamond"] {
  background: url('/textures/diamond.png');
}

.block[material="obsidian"] {
  background: url('/textures/obsidian.png');
}